.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Brand Autocomplete Search */

.search-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.dropdown {
  background-color: white;
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
}

.dropdown:empty {
  border: none;
}

.dropdown-row {
  cursor: pointer;
  text-align: start;
  margin: 2px 0;
  padding-left: 5px;
}

/* Images/Icons */

.currency-icon {
  width: 20px;
  height: 20px;
}

.app-logo {
  height: 100px;
}

/* Item Card */

.item-card-container {
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  height: 88vh;
}

.item-card {
  transition: 0.3s;
  border-radius: 10px !important;
  flex: 0 1 100%;
  background-color: #fff !important;
}

@media screen and (min-width: 40em) {
  .item-card {
    max-width: calc(100% - 1em);
  }
}

@media screen and (min-width: 60em) {
  .item-card {
    max-width: calc(49% - 1em);
  }
}

@media screen and (min-width: 75em) {
  .item-card {
    max-width: calc(32% - 1em);
  }
}

@media screen and (min-width: 100em) {
  .item-card {
    max-width: calc(24% - 1em);
  }
}

@media screen and (min-width: 125em) {
  .item-card {
    max-width: calc(19% - 1em);
  }
}

/* Colors */

.genie-primary-text {
  color: #A87CFC !important;
  font-weight: bold !important;
}

.genie-primary {
  background-color: #A87CFC !important;
  color: #fff !important;
}

/* Table */

.css-1ex1afd-MuiTableCell-root {
  border-bottom: 0px !important;
}

/* Other */

.show-filter {
  width: 100%;
}

.my-input {
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 5px;
  padding-left: 10px;
  font-size: 1rem;
}

.light-grey-border {
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.1);
}

.search-inner {
  display: flex;
}

.half-col {
  width: 50%;
}

.filter-col {
  max-width: 25% !important;
}

.spans {
  width: 100%;
}

.scrollable {
  overflow-y: scroll;
}

body {
  background-color: #fff !important;
  color: #1f2023;
  font-family: "Roboto", sans-serif !important;
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #1f2023 !important;
    color: #dadada !important;
  }
  .item-card {
    background-color: #353639 !important;
  }
  .css-rqglhn-MuiTable-root {
    background-color: #353639 !important;
    color: #dadada !important;
    border-color: #1f2023 !important;
  }
  .css-1ygcj2i-MuiTableCell-root {
    color: #dadada !important;
  }
  .css-1ex1afd-MuiTableCell-root {
    color: #dadada !important;
  }
  .css-i4bv87-MuiSvgIcon-root {
    color: #dadada !important;
  }
  .css-1ckvkg0-JoyFormLabel-root {
    color: #dadada !important;
  }
  .css-88uc6g-JoyAutocomplete-root {
    color: #dadada !important;
  }
  .css-88uc6g-JoyAutocomplete-root {
    background-color: #1f2023 !important;
  }
  .css-kf85qm-JoyInput-root {
    background-color: #1f2023 !important;
    border-color: #dadada !important;
    color: #dadada !important;
  }
  .genie-primary-text {
    color: #A87CFC !important;
    font-weight: bold !important;
  }
  .my-input {
    background-color: #1f2023 !important;
    color: #dadada !important;
    border: 1px solid !important;
    border-color: #dadada !important;
  }
  .css-ozesu3-MuiTableCell-root {
    color: #dadada !important;
  }
  .css-mkcgc3-JoyCheckbox-label {
    color: #dadada !important;
  }
  a {
    color: #fff !important;
  }
}

.page {
  width: 100% !important;
  height: 88vh !important;
  max-height: 88vh !important;
}

.id-search-row {
  height: fit-content;
}

a.nav-link {
  color: #000;
}

.nav-bar .nav > a[class*="selected"].nav-link {
  border-radius: 30px;
  background-color: #A87CFC;
  color: #fff !important;
  padding: 0.75rem 1rem;
}

.ralign {
  text-align: right;
}
