.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Brand Autocomplete Search */

.search-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.dropdown {
  background-color: white;
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
}

.dropdown:empty {
  border: none;
}

.dropdown-row {
  cursor: pointer;
  text-align: start;
  margin: 2px 0;
  padding-left: 5px;
}

/* Currency Icon */

.currency-icon {
  width: 20px;
  height: 20px;
}

/* Item Card */

.item-card-container {
  display: flex;
  flex-wrap: wrap;
}

.item-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 10px !important;
  flex: 0 1 calc(30% - 1em);
}

@media screen and (min-width: 40em) {
  .item-card {
     max-width: calc(30% - 1em);
  }
}

@media screen and (min-width: 60em) {
  .item-card {
      max-width: calc(30% - 1em);
  }
}

/* Colors */

.genie-primary-text {
  color: #FF4E9B !important;
  font-weight: bold !important;
}

/* Other */

.show-filter {
  width: 100%;
}

.search-inner {
  display: flex;
}

.half-col {
  width: 50%;
}

.filter-col {
  max-width: 30% !important;
}

.spans {
  width: 100%;
}

.scrollable {
  overflow-y: scroll
}
