.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Brand Autocomplete Search */

.search-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.dropdown {
  background-color: white;
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
}

.dropdown:empty {
  border: none;
}

.dropdown-row {
  cursor: pointer;
  text-align: start;
  margin: 2px 0;
  padding-left: 5px;
}

/* Images/Icons */

.currency-icon {
  width: 20px;
  height: 20px;
}

.app-logo {
  height: 100px;
}

/* Colors */

.genie-primary-text {
  color: #A87CFC !important;
  font-weight: bold !important;
}

.genie-primary {
  background-color: #A87CFC !important;
  color: #fff !important;
}

/* Table */

.css-1ex1afd-MuiTableCell-root {
  border-bottom: 0px !important;
}

/* Other */

.show-filter {
  width: 100%;
}

.my-input {
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 5px;
  padding-left: 10px;
  font-size: 1rem;
}

.light-grey-border {
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.1);
}

.search-inner {
  display: flex;
}

.half-col {
  width: 50%;
}

.filter-col {
  max-width: 25% !important;
}

.spans {
  width: 100%;
}

.scrollable {
  overflow-y: scroll;
}

body {
  background-color: #fff !important;
  color: #1f2023;
  margin: 0;
}

/* Dark mode colors */

@media (prefers-color-scheme: dark) {
  html {
    background-color: #171717 !important;
  }
  .MuiTable-root {
    background-color: #353639 !important;
    color: #dadada !important;
    border-color: #1f2023 !important;
  }
  .MuiTableCell-root {
    color: #dadada !important;
  }
  .MuiFormLabel-root, .MuiCheckbox-label {
    color: #dadada !important;
  }
  .MuiAutocomplete-root, .MuiInput-root, .my-input {
    background-color: #1f2023 !important;
    color: #dadada !important;
    border: 1px solid !important;
    border-color: #dadada !important;
  }
  .genie-primary-text {
    color: #A87CFC !important;
    font-weight: bold !important;
  }
  a {
    color: #fff !important;
  }
  .MuiCheckbox-checkbox {
    background-color: #1f2023 !important;
  }
  tr {
    border: 1px double #353639 !important;
    border-collapse: collapse;
  }
}

.page {
  width: 100% !important;
  /* height: 88vh !important; */
  /* max-height: 88vh !important; */
}

.id-search-row {
  height: fit-content;
}

.nav-bar .nav > a.fashion-selected.nav-link {
  border-radius: 30px;
  background-color: #ee6fb3;
  color: #fff !important;
  padding: 0.75rem 1rem;
}

.nav-link {
  gap: 5px !important;
}

.nav-bar .nav > a.interior-selected.nav-link {
  border-radius: 30px;
  background-color: #51c0cb;
  color: #fff !important;
  padding: 0.75rem 1rem;
}

.fashion {
  background-color: #ee6fb3 !important;
  color: #fff !important;
}

.fashion-light {
  background-color: #fdd4dc !important;
  color: #000 !important;
}

.fashion-dark {
  background-color: #650f3d;
  color: #fff !important;
}

.interior {
  background-color: #51c0cb !important;
  color: #fff !important;
}

.interior-light {
  background-color: #d4fafd !important;
  color: #000 !important;
}

.interior-dark {
  background-color: #016c95 !important;
  color: #fff !important;
}

.jewelry {
  background-color: #A87CFC !important;
  color: #fff !important;
}

.jewelry-light {
  background-color: #f6f1fe !important;
  color: #000 !important;
}

.jewelry-dark {
  background-color: #654a97 !important;
  color: #fff !important;
}

.hair {
  background-color: #eee447 !important;
  color: #000 !important;
}

.hair-light {
  background-color: #f7f2a3 !important;
  color: #000 !important;
}

.hair-dark {
  background-color: #777224 !important;
  color: #fff !important;
}

.nav-bar .nav > a.selected.nav-link {
  border-radius: 30px;
  background-color: #A87CFC;
  color: #fff !important;
  padding: 0.75rem 1rem;
}

.ralign {
  text-align: right;
}

.text-overflow-ellipses {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.site-padding {
  padding-left: min(100px, 5%);
  padding-right: min(100px, 5%);
}

@media (max-width: 30em) {
  .nav-link div {
    display: none;
  }
}
